{% extends 'base.html' %}
{% load static %}
{%block content %}  
<main class="main-container mt-5 pt-5">

    
    <div class="container">
        <h4>Your Cart</h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show pt-t mt-5" role="alert">
                {{ message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
        {% endif %}



        <div class="row">

            <div class="col-md-12">

                <!-- Begin table -->
                <table class="table table-bordered bg-white">
                    <thead>
                    <tr class="bg-light">
                        <th class="table-title">Product Name</th>
                        <th class="table-title">Unit Price</th>
                        <th class="table-title">Quantity</th>
                        <th class="table-title">SubTotal</th>
                        <th>

                            <span class="close-button disabled"></span></th>
                    </tr>
                    </thead>


                    <tbody>
                        {% for order_item in object.items.all %}

                    <tr>
                        <td class="product-price-col">
                            <span class="d-flex">
                                <a href="{{order_item.item.get_absolute_url}}">
                                    <img height="120px" width="100px" src="{{order_item.item.Dis_image.url}}" alt="product"></a>

                                <h5 class="product-name"><a href="#">{{order_item.item.name}}</a></h5>
                            </span>
                            

                            
                        </td>
                        
                        <td class="product-price-col">
                            <span class="product-price-special">&#8358; {{ order_item.item.price }}</span>
                        </td>
                        <td>
                            <div class="custom-quantity-input">
                                <a href="{% url 'store:remove_item_cart' order_item.item.slug %}"><i class="fa fa-minus mr-2"></i></a>
                                    {{ order_item.quantity }}
                                    <a href="{% url 'store:add_to_cart' order_item.item.slug %}"><i class="fa fa-plus ml-2"></i></a>
                            </div>
                        </td>
                        <td class="product-total-col">
                            <span class="product-price-special">{% if order_item.item.discount_price %}
                                            &#8358; {{ order_item.get_total_discount_item_price }}
                                                <span class="badge badge-primary">Saving &#8358; {{ order_item.get_amount_saved }}</span>
                                            {% else %}
                                            &#8358; {{ order_item.get_total_item_price }}
                                            {% endif %}</span>
                        </td>
                        <td class="d-flexx">
                            <a href="{% url 'store:remove_item_cart' order_item.item.slug %}"  class="ml-2 " >
                                <i style="color:red;" class="fa fa-trash"></i></a>
                            <a href="" class=" mr-3 " data-product="{{item.id}}"><i class="fa fa-heart"></i></a>
                        </td>
                    </tr>
                    <!-- End tr -->
                                                    {% empty %}
                            <tr>
                
                                <td colspan='5'>Your cart is empty</td>
                                
                            </tr>

                    {% endfor%}
                    </tbody>
                </table>
                <!-- End table -->

                <div class="mt-30"></div>

                <div class="row">

                

                    

                    <div class="col-md-4 ml-auto">

                        <table class="table total-table">

                            <tbody>
                                    {% if  object.items.all %}

                                {% if object.coupon %}
                                    <tr>
                                        
                                        <td class="total-table-title" >coupon</td>
                                        <td><b>-NGN {{ object.coupon.amount }}</b></td>
                                    </tr>
                                    {% endif %}
                            <tr>
                                
                                
                            </tr>
                        
                        
                            </tbody>

                            <tfoot>
                            <tr>
                                <td>Total:</td>
                                <td>&#8358; {{ object.get_total }}</td>
                            </tr>
                            </tfoot>
                            {% endif %}
                        </table>
                        <!-- End table -->

                        <div class="mt-30"></div>

                        <div class=" d-flex">
                            <a href="/marketplace" class="btn btn-primary btn-md   mr-3">Continue Shopping</a>
                            <a href="{% url 'store:checkout' %}" class="btn btn-md btn-warning  ">Checkout</a>
                        </div>
                        

                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>


</main>

{% endblock %}