{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block content %}  

<main class="container mt-5 pt-5">

        <div class="row">
                <!--Grid row-->
      

            <!--Grid column-->
            <div class="col-md-4 p-2 ">
                <div class="">

                    <img height="250px" width="auto" src="{{item.Dis_image.url}}" class="" alt="">
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 p-2">

                <!--Content-->
                <div class="">
                    <h4>{{item.name}}</h4>

                    <div class="mb-3">
                        <a href="{{item.category.get_absolute_url}}">
                            <span class="badge badge-pill  blue  mr-1">{{item.category}}</span>
                        </a>
                        {% if item.label_text %}
                        <a href="">
                            <span class="badge badge-pill  blue mr-1">{{item.label_text}}</span>
                        </a>
                        {%endif %}
                        {% if not item.status %}
                        <a href="">
                            <span class=" badge badge-pill danger-color">Shipped</span>
                        </a>
                        {%endif %}
                    
                    </div>

                    <p class="lead">
                        {% if item.discount_price %}
                        <span class="mr-1">
                            <del>{{item.price}}</del>
                        </span>
                        <span>{{item.discount_price}}</span>
                        {% else%}
                        <span>{{item.price}}</span>
                        {% endif %}
                    
                    </p>

                    <p class="lead font-weight-bold">Description</p>

                    <p>{{item.description}}</p>

                    <div class="d-flex justify-content-left">
                        <a class="btn btn-danger mr-1" href="{{item.get_remove_from_cart_url}}">REMOVE FROM CART<i class="fas fa-shopping-cart ml-1"></i></a>
                        <a class="btn btn-primary" href="{{item.get_add_to_cart_url}}">Add TO CART<i class="fas fa-shopping-cart ml-1"></i></a>

                    </div>

                </div>
                <!--Content-->
            </div>
            <div class="col-md-3 mb-4">
         
                <h4>Add Review</h4>
                <form class="card p-3" action="" method="post">
                  {% csrf_token %}
                  
                  {{ reviewForm|crispy }}
                  <button class="btn btn-primary m-1" type="submit">Post</button>
                </form>
               
      
                
                <!--Content-->
      
            </div>

            
        </div> 

        
      <hr>
      <div class="container">
        <!--Grid row-->
        <div class="row d-flex justify-content-left wow fadeIn">
          <h4>Related Products</h4>

        </div>
      <!--Grid row-->

        <!--Grid row-->
        <div class="  row wow fadeIn">
          {%for item in related_products%}

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

              <div class="card">

                <!--Card image-->
                <div class="view overlay">
                  <img src="{{item.Dis_image.url}}" height="250px" class="card-img-top"
                    alt="">
                    {% if not item.status %}
                    <div class="top-right badge badge-pill danger-color">Shipped</div>
                    {%endif %}
                  <a href="{{item.get_absolute_url}}">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                  <!--Category & Title-->
                  <a href="{{item.get_absolute_url}}" class="grey-text">
                    <h5>{{item.category}}</h5>
                  </a>
                  <h5>
                    <strong>
                      <a href="{{item.get_absolute_url}}" class="dark-grey-text">{{item.name}} 
                        {% if item.label_text %}
                        <span class="badge badge-pill {{item.get_label_display}}-color ">
                          {{item.label_text}} 
                        
                        </span>
                        {% endif %}
                      
                      </a>
                    </strong>
                  </h5>

                  

                </div>
                <!--Card content-->
                <div class="card-footer bg-light d-flex">
                  <span class=" mr-auto ">
                    <a class="mr-2" href="{{item.get_add_to_cart_url}}">
                      <i class="fa-solid fa fa-cart-plus"></i>
                    </a>
                      <a href="" class=" ml-2" data-product="{{item.id}}">
                        <i class="fa-solid fa-heart fa"></i>
                      </a>
                  </span>
                  <span class="">
                    <p class="font-weight-bold blue-text">
                      {% if item.discount_price %}
                        <span class="blue-text mr-2"  >  &#8358; {{item.discount_price}}  </span>
                       
                        <Span class=" alert-success">{{item.get_discount}} % </span>
                        {% else%}
                        <span class="blue-text">  &#8358; {{item.price}}  </span>
                      {% endif%}
                      
                    </p>
                  </span>
                </div>

              </div>

            </div>
            <!--Grid column-->

          {% endfor %}

        </div>
        <!--Review coment-->
      <hr>
      <div class="container">
          {% if comments %}
            <div class="row">
              {% for comment in comments%}
              <div class="col">
                <div class="rounded-circle mb-3" style="width: 18rem;">
                  <div class="card-header blue lighten-5">
                    {{comment.user}}
                  </div>
                  <ul class="list-group list-group-flush">
                  
                    <li class="list-group-item">
                    
                      {{comment.get_review_rating_display}}
                  
                      
                    
                      {{comment.review_text}}

                      
                    </li>
                    
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
        {% endif %}
      </div>

</main> 

{%endblock%}